.toolContainer {
    position: relative;
    margin: 0;
    padding: 0;
    left: 700px;
    top: -400px;
    width: 300px;
    font-size: 12px;
}

.toolList {
    list-style: none;
    margin-left: 20px;
    padding: 10px 5px;
    border: 2px solid lightblue;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.label{
    position: relative;
    margin-right: 20px;
    bottom: 7px;
}
.label_style {
    position: relative;
    margin-right: 20px;
    bottom: -1px; 
}
.li_each{
    margin: 10px 0;
}
.label_opcity{
    position: relative;
    bottom: 7px;
    margin-right: -5px;
}
.show_right {
    position: relative;
    bottom: -4px;
    right: 10px;
    float: right;
}