.container {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    background-color: #000;
    height: 80px;
}

.brand{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    line-height: 80px;
}


